# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
.env

# Git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Large data
data/raw/
data/processed/

# Jupyter / temp
*.ipynb
.ipynb_checkpoints/

# Docker
docker-compose.yml
Dockerfile

# Node (if any)
node_modules/